<?xml version="1.0"?>
<!--
/**
 * Qualwebs Glossary Module
 *
 * @category    Qualwebs
 * @package     Qualwebs_Glossary
 * @author      Qualwebs
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Magento/Framework/Module/etc/module.xsd">
    <module name="Qualwebs_Glossary" setup_version="2.1.0"/>
</config>
